/* text color: #FCFCFC (white)
body background: #1B2024 (darker)
el background: #252A2E (lighter)
highlight: #FE3F39 (red)
highlight 2: #FFBD28 (yellow)*/

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
}

body {
    background: #1B2024;

    min-width: 500px;
}

#border {
    background: #252A2E;

    padding: 15px;
    margin: 25px;
    border-radius: 5px;
}

input {
    background: #1B2024;
    color: #FFBD28;
    font-weight: 600;
    font-size: 16px;

    width: 100%;
    border: 0;
    border-radius: 5px;
    padding: 15px;
    margin: 5px 0;
}

input::placeholder {
    color: #755b1f;
}

button {
    background: #FFBD28;
    color: #FCFCFC;
    font-weight: 600;
    font-size: 16px;

    border: 0;
    border-radius: 5px;
    padding: 10px 15px;
    margin: 5px 0;
}

#delete-all-btn {
    background: #FE3F39;
}